/* 
    Animation -(속성명)
    -animation-name : @keyframes 애니메이션 이름 지정
        -시작 : from or 0%
        -중간 ; 0~100% 사이 
        -끝 : to or 100%
            ex) from 0 to 100 / or, from 0 50% 100%
    -animation-duration : 애니메이션이 한 번 재생되는 데 걸리는 시간을 지정 (단위 : s)
    -animation-delay ; 애니메이션이 시작되기 전에 기다리는 시간을 지정  (단위 : s)
    -animation-iteration-count : 애니메이션 반복 횟수 (default: 1 / 숫자로 횟수 쓰기/  infinite : 무한반복)
    -animation-timing-function : 애니메이션의 속도 변화를 지정함.
            -linear, ease, ease-in, ease-out, ease-in-out 등등 많음.
    -animation-direction : 애니메이션의 방향을 정해줌.
        -default : normal / reverse(반대 방향) / alternate (반복될때마다 방향ㅇ르 바꿔줌)/ alternate-reverse
        - alternate : from -> to 방향으로 애니메이션 처음 진행했을 때 , 다음 회차에서는 to-> from 방향으로 바뀌면서 반복됨. 

*/

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;

    animation-name: seulbi;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
/* animation-name의 경우 애니메이션 이름을 개발자 마음대로 지을 수 있는데, 
해당 명명은 관련된 내용으로 이름지어야 추후 유지보수가 가능함.
seulbi : 애니메이션 이름임.  */
@keyframes seulbi {
    0% {
        left: 0px;
    }

    25% {
        left: 200px;
    }
    50% {
        left: 400px;
    }
    75% {
        left: 200px;
    }
    100% {
        left: 0px;
    }
}

.ball {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
}

.bounce-ball1 {
    background-color: red;
    left: 100px;
    top: 0;

    animation-name: bounce1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /* animation 단축 프로퍼티 */
    /* animation: bounce1 1s ease-out infinite alternate; */
}
@keyframes bounce1 {
    to {
        top: 50px;
    }
    from {
        top: 300px;
    }
}

.bounce-ball2 {
    background-color: aqua;
    position: absolute;
    width: 50px;
    height: 50px;
    animation: bounce2 2s infinite;
}
@keyframes bounce2 {
    from,
    to {
        bottom: 0px;
        animation-timing-function: ease-out;
        /* 0px에서 정상속도로 시작해서 속도를 줄이면서 이제 다음 것 적용함.
        (다음 50%로 넣은 300px 도달했다가 다시 내려가면서 정상속도로 0px위치로 이동함.  -> */
    }
    50% {
        bottom: 300px;
        animation-timing-function: ease-in;

        /* }to {
        bottom: 0;
        animation-timing-function: ease-out; */
    }

    /* 

    tip)
    from 에서 to로의 애니메이션 (정방향 애니메이션) [from ~to]
    - from은 애니메이션의 시작 상태를 나타냄
    - to 는 애니메이션의 종료 상태를 나타냄
    이러한 경우 애니메이션은 from 상태에서 시작해서 to 상태로 종료함.

    to 에서 from으로의 애니메이션 (역방향 애니메이션) [to~from]
    -to 는 애니메이션의 시작 상태를 나타냄
    -from 은 애니메이션의 종료 상태를 나타냄
    이러한 경우 애니메이션은 to 상태에서 시작해서 from 상태로 종료함.

*/
}
