/* 
* : 전체선택자 의미
 */


 * {
    color:red;
 }



 /* 태그명 : 태그 선택자 */

 h1 {
    background-color: pink;
 }

p {
    background-color: violet;
}

/* 
.class명 : 클래스 선택자 */


.second {
    background-color: aqua;
}

.small {
    font-size: 20px;
}

.big {
    font-size: 40px;
}

.dog {
    color: blue;
}


/* id명 : 아이디 선택자 */
#first {
    background-color: lightgreen;
}

/* id, class 차이 :
 - class : 그룹처럼 사용 가능 
 -id : 고유함 */


 .hello {
    color: green;
 }
 .hi {
    color: bluess;
 }

