div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-weight: 500px;
}

/* position 
    static = default 기본값
     - 기본값이기 때문에 작성하지 않더라도 적용됨.
     - inline 요소 : 왼쪽 -> 오른쪽으로 쌓임
     - block 요소 : 위-> 아래로 쌓임 */

.position-static {
    background-color: pink;
    position: static;
}

/* --------------------------------------------- */

/* relative : 상대위치임.
        - 누구를 기준? 자기 자시능ㄹ 기준으로 하여 원래 위치에서 이동.
        - 일반적인 흐름에 따라 배치됨. top, bottom, left, right 중 하나 이상 값을 작성해주어야함.
        - "원래 있어야 하는 위치 기준" 으로 부터  top, bottom, left, right 하나씩 이동함.
        - 배치(위치)가 바뀌어도 원래 기존의 자리는 유지됨.
        - 보통 부모 요소로 많이 사용함.
*/

.position-relative {
    background-color: aqua;
    position: relative;
    left: 300px;
}
/* --------------------------------------------- */

/* absolute : 절대위치
        -누구를 기준 ? position 속성을 갖는 제일 가까운 부모 기준. (부모=relative)
        - position 속성을 갖는 부모가 없다면? 뷰포트를 부모로 여기고 뷰포트(html or body) 기준 움직임.
        - 따라서 " 특정 요소"를 기준 삼아서  top, bottom, left, right 하나씩 이동함.
        - 단, 배치가 바뀌면 기존 자리는 없어짐 (붕뜨는 느낌).*/
.position-absolute {
    background-color: gold;
    position: absolute;
    top: 50px;
}

/* --------------------------------------------- */
/* fixed : 고정 위치.
        - viewport(뷰포트) = 브라우저의 화면 전체를 기준으로 특정 위치 배치됨.
        - 스크롤 되어도 움직이지 않고 고정되어 보여짐.
        - 따라서 header, footer 에서 많이 사용됨. */
.position-fixed {
    background-color: coral;
    position: fixed;
    top: 0;
    right: 10;
}

/* --------------------------------------------- */
.position-container {
    width: 500px;
    height: 500px;
    position: relative;
    top: 30px;
    left: 50px;
}
/* .position-item1 {
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
    left: 50px;
}

.position-item2 {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.position-item3 {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 100px;
    top: 100px;
} */

.item-all {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.position-item1 {
    position: relative;
    left: 50px;
    top: 30px;
}

.position-item2 {
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.position-item3 {
    position: fixed;
    right: 100px;
    top: 100px;
}
