@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
/* font-weight : normal , light, bold, 900 */
/* font-varient : normal, small-caps
    ㄴ small caps : 모든 영문은 대문자로 변환되고 원래 대문자 크기보다 작게 출력됨  */

body {
    font-family: "ClimateCrisisKR-1979";
    font-size: 8px;
}
.viewport1 {
    background-color: orange;

}
.html {
    background-color: skyblue;
}
.css {
    background-color: green;
}
.javascript {
    background-color: red;
}

.border1 {
    border-style: solid;
    border-width: 1px 2px 3px 4px;
    border-radius: 0 10px 10% 50%;
}

.border2 {

    border-width: 6px;
    border-style: solid dashed double groove;
    border-radius: 50%;
}

.border3 {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(144, 59, 59) rgb(205, 170, 107) rgb(90, 222, 90) rgb(94, 94, 158);
    border-radius: 10% 0% 50% 20%;
}

.border4 {
    border: 4px solid blue;
    border-radius: 20px 50px 0px 30px;
}
